@model CoffeeShop.Models.Menu

<h2>Add Menu</h2>

<form asp-action="Create">

    <div class="mb-3">

        <label>Name</label>

        <input asp-for="MenuName"
               class="form-control" />

    </div>

    <div class="mb-3">

        <label>Price</label>

        <input asp-for="Price"
               class="form-control" />

    </div>

    <div class="mb-3">

        <label>Description</label>

        <input asp-for="Description"
               class="form-control" />

    </div>

    <div class="mb-3">

        <label>Image Url</label>

        <input asp-for="ImageUrl"
               class="form-control" />

    </div>

    <div class="mb-3">

        <label>Category</label>

        <select asp-for="CategoryID"
                asp-items="ViewBag.Categories"
                class="form-select">
        </select>

    </div>

    <button class="btn btn-success">

        Save

    </button>

</form>