@model CoffeeShop.Models.Employee

@{
    ViewData["Title"] = "Create Employee";
}

<div class="container mt-4">

    <h2>Create Employee</h2>

    <form asp-action="Create">
        <div asp-validation-summary="All" class="text-danger mb-3"></div>

        <div class="mb-3">

            <label class="form-label">Full Name</label>

            <input asp-for="FullName"
                   class="form-control" />

        </div>

        <div class="mb-3">

            <label asp-for="Username" class="form-label"></label>

            <input asp-for="Username" class="form-control" />

            <span asp-validation-for="Username" class="text-danger"></span>

        </div>

        <div class="mb-3">

            <label asp-for="Password" class="form-label"></label>

            <input asp-for="Password"
                   type="password"
                   class="form-control" />

            <span asp-validation-for="Password" class="text-danger"></span>

        </div>

        <div class="mb-3">

            <label class="form-label">Phone</label>

            <input asp-for="Phone"
                   class="form-control" />

        </div>

        <div class="mb-3">

            <label class="form-label">Position</label>

            <input asp-for="Position"
                   class="form-control" />

        </div>

        <div class="mb-3">

            <label class="form-label">Salary</label>

            <input asp-for="Salary"
                   class="form-control" />

        </div>

        <button class="btn btn-success">

            Save

        </button>

        <a asp-action="Index"
           class="btn btn-secondary">

            Back

        </a>

    </form>

</div>